

<div style="max-width: 35%" class="form-group">
            <label class="control-label">Currency converter</label>
        <div class="input-group">
            <input type="number" ng-model="ctrl.input" class="form-control" style="text-align: center" min = 0 placeholder="1">
        </div>
    <table class="table">
        <tr>
            <td>
                <label for="singleSelect"> From: </label><br>
                <select ng-model="currencyFrom" ng-options="currency.currencyCode for currency in ctrl.currencies"></select><br>
            </td>
            <td>
                <label for="singleSelect"> To: </label><br>
                <select ng-model="currencyTo" ng-options="currency.currencyCode for currency in ctrl.currencies"></select><br>
            </td>
        </tr>
    </table>
    <label class="control-label">Converted:{{ctrl.input| convert: currencyFrom.rate:currencyTo.rate }}</label>

   
</div> 

