<div ng-controller="AllUsers as ctrl">
    <h1>All Users</h1>
    <table class="col-md-4" ng-show="ctrl.usersFound">
        <thead>
            <tr>
                <td>Username</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="user in ctrl.users">
                <td>{{user.userName}}</td>
                <td><button class="btn btn-danger" ng-click="ctrl.deleteUser(user.userName)">Delete user</button></td>
            </tr>
        </tbody>
    </table>
</div>