<div>
    <h1>Currency rates</h1>
    <div style="width: 25%" class="form-group">
        <input class="form-control" id="focusedInput" type="search" ng-model="currencyfilter" placeholder="Filter currency">
    </div>
    <table class="table table-striped table-hover " ng-show="ctrl.currenciesFound">
        <thead>
            <tr>
                <th><a href="" ng-click="predicate = 'code'; reverse = !reverse">Code</a></th>
                <th><a href="" ng-click="predicate = 'desc'; reverse = !reverse">Desc</a></th>
                <th><a href="" ng-click="predicate = 'rate'; reverse = !reverse">Rate</a></th>
            </tr>
        </thead>
        <tbody style="border-left-style: ridge; border-right-style: ridge; border-width: thin">
            <tr style="border-bottom-style: ridge; border-width:thin " ng-repeat="currency in ctrl.currencies| filter: currencyfilter | orderBy:predicate:reverse">
                <td>{{currency.currencyCode}}</td>
                <td>{{currency.description}}</td>
                <td>{{currency.rate | setDecimal:2}}</td>
            </tr>
        </tbody>
    </table>

</div>