<div class="container">
    <center><h4>Welcome, please sign in.</h4></center>
        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="assets/images/avatar_2x.png" alt="profileicon" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" role="form" ng-show="!isAuthenticated" ng-submit="login()">
                <span id="reauth-username" class="reauth-usename"></span>
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus ng-model="user.username">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="user.password">
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Maybe remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
  
            <div class="form-signin" ng-show="isAuthenticated">
                
                <p id="profile-name" class="profile-name-card">Logged on as: {{username}}</p>

                <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin"  ng-click="logout()">Logout
                </button>

        </div><!-- /card-container -->
                  
    </div><!-- /container -->
   
    
<center><a href="#/signup">Sign up</a></center>
        