<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Service App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="assets/bootstrap/bootstrap.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
        <script src='bower_components/angular-animate/angular-animate.min.js'></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>
        <script src="app/app.js"></script> 
        <script src="app/view1/view1.js"></script>
        <script src="app/view2/view2.js"></script>
        <script src="app/view3/view3.js"></script>
        <script src="app/view4/view4.js"></script>
        <script src="app/view5/view5.js"></script>
        <script src="app/view6/view6.js"></script>
        <script src="app/allUsers/allUsers.js"></script>
        <script src="app/view6/login.js"></script>
        <script src="app/components/auth.js"></script>
        <script src="app/components/filters.js"></script>
        <script src="app/components/directives.js"></script>
        <script src="app/components/factories.js"></script>
        <script src="app/components/services.js"></script>
    </head>
    <body>
        <div class="container"  >
            <nav class="navbar navbar-default" role="navigation" ng-controller="AppLoginCtrl">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/home">Home</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">                  
                            <li class=""><a href="#/docs" >Documentation</a></li>
                            <li class=""><a ng-show="isUser" href="#/companyInfo" >Company Info</a></li>
                            <li class=""><a ng-show="isUser" href="#/exRI" >Exchange Rate Info</a></li>
                            <li class=""><a ng-show="isAdmin" href="#/allUsers" >All Users</a></li>
                            <li class=""><a href="#/login">Login Section</a></li>
                            <li class="">
                                <div class="navbar-right" ng-show="isAuthenticated"> 
                                    <p class="navbar-text">Logged on as: {{username}}</p>
                                    <button type="submit" class="btn btn-primary navbar-btn"  ng-click="logout()">Logout
                                    </button>
                                </div> 
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>




            <div class="container">
                <hr style="background: lightblue; border:0; height:7px;margin-top: -10px" />
                <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                <div ng-view></div>

            </div>
        </div>

        <script type="text/ng-template" id="errorModal.html">
            <div class="modal-header">
            <h3 class="modal-title">Error!</h3>
            </div>
            <div class="modal-body">
            <p>{{error}}</p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" autofocus>OK</button>
            </div>
        </script>
    </body>
</html>
